<div class="list-group-item">
	<div class="row">
		<div class="col-md-2">
			<br>
			<%= link_to "New Order", new_order_path, method: :get, class: "btn btn-primary btn-md btn-block " %>
			<br>
		</div>
		<div class="col-md-6">
			<br>
			<h4>Click the button to begin a new order.</h4>
		</div>
	</div>
</div>
