<div class="container">
	<div class="row">
		<h1 class="text-center">Recent Orders</h1>
		<% if @orders.any? %>
			<div class="list-group">
				<%= @orders.each do |order| %>
					<%= render order %>
				<% end %>
			</div>
		<% else %>
			No orders to display
		<% end %>
	</div>
</div>

